@font-face {
    font-family: 'myfont';
    src: url('../fonts/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body{
    display: flex;
    height: 100vh;
    margin: 0;
}
.left-column {
    flex: 1; 
    background-image: url('../images/bg.jpg');
    background-size: cover;
    /* display: flex; */
}
img{
    width: 100px;
    height: auto;
}
img+h1{
    color: white;
    font-family: 'myfont';
    font-size: 5rem;
}
.logo-banner {
    display: flex;         
    align-items: center;   
    justify-content: center; 
    gap: 1rem; 
    background-color: rgba(0,0,0,0.5);  
    margin-top: 15vh;  
}

.right-column {
    flex: 2; 
}
.right-column{
    background-color: #F9FAFB;
}
.first-section{
    margin-top: 14vh;
}
.first-section p{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    padding-left: 3.5rem;

    /* margin-top: 14vh; */
}
.for{
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    padding-left: 3.5rem;
    padding-top: 0.5rem;
    padding: 50px;
}
.for p{
    font-size: 32px;
    font-weight: bold;
    /* color: #FFFFFF; */
}
.name, .contact, .passwords{
    display: flex;
    gap: 100px;
}
.first-name label, .last-name label, .email label, .phone label, .first-pas label, .final label{
    display: block;
}
input{
    width: 200px;
    height: 25px;
    margin-bottom: 15px;
    border: 2px solid #E5E7EB;
     border-radius: 5px;
    padding: 8px 12px;
}
input:focus{
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}
.password:invalid{
    border-color: #ef4444;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2)
}

